/*font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;*/

@font-face {
    font-family: Georgia;
    src: url("/font/georgia%20italic.ttf");
}

* {
    box-sizing: border-box;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

html {
    font-size: 8px;
}



/************    HEADER        **************/

#hero {
    width: 100%;
    height: 100vh;
    background-color: #0c0c0c;
    background-image: url(../img/Layer%206.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    
}

header {
    width: 100%;
    height: 130px;
    color: #fff;
    line-height: 130px;
}

.font-menu {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}

#menu a,
#menu naw,
#menu naw li,
#menu div {
    display: inline-block;
}

#menu {
    width: 90%;
    margin: 0 auto;
    position: relative;
    height: inherit;
    line-height: inherit;
}



#logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 1s ease;
}

#logo:hover {
    box-shadow: 0px 0px 1px #0e0603;
    background-color: #FFF;
}

naw {
    width: 99%;
    text-align: center;

}

naw li {
    margin: 0 15px;
    transition: all 0.2s linear;
    color: #fff;
    font-size: 1.3rem;
}

naw li:hover {
    text-shadow: 3px 3px 2px #0e0603;
}

.menu-right {
    position: absolute;
    height: 34px;
    width: 100px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.2rem;
    line-height: 32px;
    overflow: visible;
    z-index: 199;
}

#search {
    position: relative;
    cursor: pointer;
    margin-right: 30%;
    transition: transform 0.5s ease;
}



#search:hover {
    transform: scale(1.2);
}

#burger {
    display: none !important;
    transition: opacity 0.5s ease;
}

#burger svg {
    width: 30px;
    transform: translateY(25%);
    cursor: pointer;

}


#menu .menu-right #mobile-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 999;
    opacity: 0.8;
    display: none;
    font-size: 1.1em;
    font-family: Montserrat;
    text-align: right;
    line-height: 3em;
    background-color: #da7074;
    padding: 10% 10px 10% 40px;
    display:none;
}




hr.slim {
    width: 90%;
    margin: 0 auto;
    height: 1px;
    background-color: #000;
    border: 0;
    opacity: 0.1;

}


#menu .menu-right #modal-search {
    position: absolute;
    top: 100%;
    width: 50vw;
    right: 0;
    background-color: #fff;
    z-index: 999;
    opacity: 0.8;
    display: none;
}

#modal-search form {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: Montserrat;
}

#modal-search form input[type="text"] {
    width: 80%;
    margin: 0 auto;
    height: 7%;
    margin-bottom: 20px;
    display: block;
    font-size: 2em;
}

#modal-search form input[type="submit"] {
    width: 30%;
    margin: 0 auto;
    height: 4%;
    display: block;
    background-color: #da7074;
    font-size: 1.3em;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #000;
}

#modal-search form input[type="submit"]:hover {
    color: #fff;
}



/************    FRONT PAGE        **************/

.main-text {
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 52vh;
}

.main-text h1 {

    font-family: 'Playfair Display';
    font-size: 12rem;
    font-weight: 100;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;


}

.main-text p {
    font-family: Montserrat;
    font-size: 1.5rem;
    width: 25%;
    min-width: 300px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.8em;
}

.front-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
    overflow: hidden;

}

.btn-main {
    position: relative;
    background-color: #da7074;
    width: 120px;
    height: 35px;
    border-radius: 20px;
    font-size: 1.3rem;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

}

.btn-main p {
    position: relative;
    z-index: 999;
    transition: transform 1s ease;
    animation: 1.6s pulse infinite;

}

@keyframes pulse {
    20% {
        transform: scale(1);
    }
    55% {
        transform: scale(1.02);
        text-shadow: 1px 1px 1px #000;
    }
    75% {
        transform: scale(1);
    }
}

.btn-main:hover p,
.btn-play div svg:hover {
    animation: none;
    transform: scale(1.05);
    text-shadow: 2px 2px 3px #000;
}

.btn-main:hover .line-horizontal,
.btn-main:hover .line-horizontal:before {
    width: 280px;
}

.btn-main:hover .line-vertical,
.btn-main:hover .line-vertical:before {
    width: 130px;
}

.line-horizontal {
    position: absolute;
    top: 18px;
    left: 50%;
    width: 170px;
    border: 0px;
    color: #da7074;
    background-color: #da7074;
    height: 1px;
    margin: 0;
    transition: width 1s ease;
}

.line-horizontal::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 100%;
    width: 170px;
    border-top: 0px;
    color: #da7074;
    background-color: #da7074;
    height: 1px;
    margin: 0;
    transition: width 1s ease;
}

.line-vertical {
    position: absolute;
    top: 60px;
    left: 50%;
    width: 100px;
    border: 0px;
    color: #da7074;
    background-color: #da7074;
    height: 1px;
    margin: 0;
    transform-origin: left;
    transform: rotateZ(90deg);
    transition: width 1s ease;
}

.line-vertical::before {
    content: '';
    position: absolute;
    top: 4px;
    left: -15px;
    width: 100px;
    border-top: 0px;
    color: #da7074;
    background-color: #da7074;
    height: 1px;
    margin: 0;
    transition: width 1s ease;

}

.btn-play {
    width: 100%;
    height: 82px;
    position: absolute;
    bottom: 0px;
}

.btn-play div {
    width: 60px;
    height: inherit;
    margin: 0 auto;
}

.btn-play div svg {
    animation: 1.8s pulse infinite;
    cursor: pointer;
}




/************    Section 1       **************/

.slider {
    padding: 0;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    flex-wrap: wrap;
}

.slider a {
    flex: 1 0 auto;
    width: 25%;
    min-width: 100px;
}


.slider a div {
    height: 400px;
    transition: filter 1s ease;
}

.slider h3,
.slider p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Montserrat;
    text-align: center;
    position: relative;
    top: 65%;
}

.slider h3 {
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
}

.slider p {
    font-family: Georgia;
    font-size: 1.4rem;
    font-style: italic;
    line-height: 30px;
    font-weight: 100;
    letter-spacing: 1px;
}



.slider a:last-child div {
    margin-left: 0px;
}

.slider div:hover {
    filter: grayscale(0.3) brightness(1.5);

}

#img1 {
    background-image: url(../img/Layer%2011.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#img2 {
    background-image: url(../img/Layer%208.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

#img3 {
    background-image: url(../img/Layer%209.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img4 {
    background-image: url(../img/Layer%2010.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}


/************    Footer      **************/

footer div .credits {
    display: flex;
    color: rgba(21, 21, 21, 0.9);
    justify-content: space-between;
    margin-bottom: 5%;

}


.credits li,
.credits li a {
    font-family: Georgia;
    font-style: italic;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 2em;
    color: rgba(21, 21, 21, 0.9);
}

.credits .font-menu {
    text-transform: uppercase;
    font-family: Arial, Roboto;
    font-weight: 900;
    letter-spacing: 0px !important;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #151515;
    margin-bottom: 20px;
    height: 30px;


}

.footer-column {
    padding-left: 8%;
    width: 25%;
}

.footer-column:last-child {
    width: 50%;
    padding-right: 8%;
}

.copyright {
    padding: 20px;
    text-align: center;
    background-color: rgba(21, 21, 21, 1);
    color: #fff;
    font-size: 1.4rem;
    font-family: Georgia;
}

@media (max-width: 960px) {

    .slider a {
        width: 50%;
    }
    footer div .credits {
        flex-wrap: wrap;
        align-content: space-between;
    }

    .footer-column {
        padding-left: 10%;
        width: 33%;
        margin-bottom: 30px;

    }

    .footer-column:last-child {
        width: 1000%;
        padding:0 10%;
    }

}

@media (max-width: 540px) {
    .footer-column {
        padding-left: 6%;
        width: 33%;
        margin-bottom: 20px;
        

    }

    .footer-column:last-child {
        width: 1000%;
        padding: 6%;
    }

    .slider a {
        width: 100%;
    }

    #menu naw li {
        display: none !important;
    }

    #burger {
        display: inline-block !important;
    }

    header {
        height: 80px;
    }
    
    .main-text h1 {
        font-size: 8rem;
        white-space: pre-wrap;
    }
    .main-text p {
        font-size: 1.5rem;
        line-height: 1.3em;
    }
    .main-text {
        bottom: 50vh;
    }
}