{
  "name": "Website",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7884,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "public_html/projects/WebDesign/",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "ftp.stackcp.com",
      "port": 21,
      "user": "andrzej-lichon.pl",
      "password": "6c46cc22ba84"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      "/img/webdesign.psd",
      "*.psd"
    ],
    "history": [
      {
        "file": "css/normalize.css",
        "ctime": "2018-02-20T14:25:21.983Z",
        "mtime": "2018-02-20T14:25:21.983Z",
        "size": 6391
      },
      {
        "file": "css/reset.css",
        "ctime": "2018-02-20T14:24:49.567Z",
        "mtime": "2018-02-20T14:24:49.567Z",
        "size": 1139
      },
      {
        "file": "css/style.css",
        "ctime": "2018-04-03T19:09:58.600Z",
        "mtime": "2018-04-03T19:09:58.600Z",
        "size": 10420
      },
      {
        "file": "font/georgia italic.ttf",
        "ctime": "2018-03-21T08:22:04.432Z",
        "mtime": "2016-07-20T08:29:18.000Z",
        "size": 68172
      },
      {
        "file": "img/burger.svg",
        "ctime": "2018-03-23T18:32:18.190Z",
        "mtime": "2018-03-23T18:32:18.190Z",
        "size": 627
      },
      {
        "file": "img/Clipboard02.jpg",
        "ctime": "2018-03-22T11:50:53.473Z",
        "mtime": "2018-03-22T11:50:53.473Z",
        "size": 389040
      },
      {
        "file": "img/Layer 10.jpg",
        "ctime": "2018-03-21T07:32:57.357Z",
        "mtime": "2018-03-21T07:32:47.896Z",
        "size": 151220
      },
      {
        "file": "img/Layer 11.jpg",
        "ctime": "2018-03-21T07:31:36.986Z",
        "mtime": "2018-03-21T07:31:05.189Z",
        "size": 249035
      },
      {
        "file": "img/Layer 6.jpg",
        "ctime": "2018-06-12T20:32:43.604Z",
        "mtime": "2018-06-12T20:32:43.604Z",
        "size": 322911
      },
      {
        "file": "img/Layer 8.jpg",
        "ctime": "2018-03-21T07:32:09.158Z",
        "mtime": "2018-03-21T07:31:50.831Z",
        "size": 77548
      },
      {
        "file": "img/Layer 9.jpg",
        "ctime": "2018-03-21T07:32:33.706Z",
        "mtime": "2018-03-21T07:32:15.385Z",
        "size": 147531
      },
      {
        "file": "img/play.svg",
        "ctime": "2018-03-21T20:09:03.167Z",
        "mtime": "2018-03-21T20:09:03.167Z",
        "size": 590
      },
      {
        "file": "index.html",
        "ctime": "2018-06-12T20:26:47.164Z",
        "mtime": "2018-06-12T20:26:47.164Z",
        "size": 7381
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}